.section4 {
    max-width: 480px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    &__image{
        margin-bottom: 35px;
    }
    &__subtitle {
        margin: 0 auto;
        font-family: Acrom;
        width: 256px;
        background-color: #000;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    
    &__p {
        font-family: Acrom;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}

.section4__text {
    font-family: Acrom;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    margin-bottom: 52px;
}

.section4__text-span {
    background-color: #16ebfe;
}

.section4__title {
    text-align: center;
    margin: 0 auto;
    font-family: Acrom;
    background-color: #000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    width: 292px;
    margin-bottom: 23px;
}

.section4__text-one {
    margin: 0 auto;
    padding-left: 30px;
    position: relative;
    width: 280px;
    font-family: Acrom;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.5px;
    margin-bottom: 50px;
}

.section4__text-one::before {
    content: "";
    width: 14px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 6px;
}

.section4__item {
    padding-left: 50px;
    padding-right: 30px;
    list-style: none;
    margin-bottom: 30px;
    position: relative;
}

.section4__item::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #000;
    position: absolute;
    left: 20px;
    top: 6px;
}


.section4__item-title {
    font-family: Acrom;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.5px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.section4__item-text {
    color: #3f4144;
    font-family: Acrom;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;

}


@media (min-width: 768px) {
    .section4 {
        padding: 60px 66px;
        max-width: 768px;
        display: flex;
        flex-direction: row;
        &__subtitle {
            width: 75px;
            height: 40px;
            margin: 0 auto;
            font-family: Acrom;
            background-color: #000;
            color: #ffffff;
            font-size: 9px;
            font-weight: 700;
            line-height: 14.58px;
            text-transform: uppercase;
            margin-right: 30px;
        }
    
        &__p {
            font-family: Acrom;
            font-size: 9px;
            font-weight: 700;
            line-height: 13.46px;
            margin-bottom: 10px;
            width: 160px;
        }
        
}

.section4__text {
    font-family: Acrom;
    font-size: 8px;
    font-weight: 400;
    line-height: 11.78px;
    width: 165px;

}

.section4__article-two {
    display: flex;
   flex-direction: column;
    max-width: 274px;
}

.section4__article-two-titles {
    display: flex;

}

.section4__article-two-description {
    display: flex;
}

.section4__title {
    text-align: left;
    font-family: Acrom;
    color: #ffffff;
    font-size: 27px;
    font-weight: 700;
    line-height: 33.65px;
    text-transform: uppercase;
    margin-bottom: 23px;
    margin-right: 20px;
}

.section4__text-one {
    width: 160px;
    position: relative;
    font-family: Acrom;
    font-size: 8px;
    font-weight: 500;
    line-height: 13.46px;
    margin-bottom: 45px;
}

.section4__text-one::before {
    content: "";
    width: 29px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: -20px;
    top: 6px;
}

.section4__item {
    padding-left: 100px;
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}

.section4__item::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #000;
    position: absolute;
    left: 70px;
    top: 6px;
}


.section4__item-title {
    font-family: Acrom;
    font-size: 9px;
    font-weight: 700;
    line-height: 13.46px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section4__item-text {
    color: #3f4144;
    font-family: Acrom;
    font-size: 9px;
    font-weight: 400;
    line-height: 13.46px;
}
}

@media (min-width: 1200px){
    .section4 {
        margin: 0 auto;
        padding: 60px 0;
        max-width: 720px;
        display: flex;
        flex-direction: row;
        &__subtitle {
            width: 120px;
            height: 50px;
            margin: 0 auto;
            font-family: Acrom;
            background-color: #000;
            color: #ffffff;
            font-size: 8px;
            font-weight: 700;
            line-height: 16.25px;
            text-transform: uppercase;
            margin-right: 25px;
        }
    
        &__p {
            font-family: Acrom;
            font-size: 10px;
            font-weight: 700;
            line-height: 15px;
            margin-bottom: 10px;
            width: 180px;
        }
        
}

.section4__text {
    font-family: Acrom;
    font-size: 10px;
    line-height: 13.13px;
    width: 177px;
}
.section4__title {
    display: inline-block;
    text-align: left;
    font-family: Acrom;
    background-color: #000;
    color: #ffffff;
    font-size: 27px;
    font-weight: 700;
    line-height: 33.65px;
    text-transform: uppercase;
    margin-bottom: 23px;
    margin-left: 60px;
}

.section4__text-one {
    width: 177px;
    position: relative;
    width: 177px;
    color: #000000;
    font-family: Acrom;
    font-size: 10px;
   font-weight: 500;
   line-height: 15px;
}

.section4__text-one::before {
    content: "";
    width: 35px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: -20px;
    top: 6px;
}

.section4__item {
    padding-left: 100px;
    list-style: none;
    margin-bottom: 15px;
    position: relative;
}

.section4__item::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #000;
    position: absolute;
    left: 70px;
    top: 6px;
}


.section4__item-title {
    font-family: Acrom;
    font-size: 10px;
    font-weight: 700;
    line-height: 13.46px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section4__item-text {
    color: #3f4144;
    font-family: Acrom;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.46px;
}
}