/*SECTION 7*/
.section7{
    display: flex;
    justify-content: center;
    flex-flow: column;
}
/*div*/
.section7__main_content{
    max-width: 366px;
    margin: 0 auto;
}
/*h3*/
.section7__section_title{
    display: block;
    width: 204px;
    font-family: 'Acrom ExtraBold';
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    padding-left: 40px;
}
/*p & psevdo*/
.section7__medium_font::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: black;
    left: 0;
    top: 5px;
}

.section7__medium_font{
    display: flex;
    position: relative;
    font-family: 'Acrom Medium';
    font-size: 13.5px;    
    margin-bottom: 36px;
    padding-left: 40px;
}
/*picture*/
.section7__man_image{
    margin-bottom: 20px;
    margin: 0 auto;
}
/*h4*/
.section7__black_background{
    display: block;
    font-family: 'Acrom ExtraBold';
    color: white;
    font-size: 0;
    margin: 18px 0;
}

.section7__black_background:first-of-type {
    width: 140px;
}

.section7__black_background:last-of-type {
    width: 160px;
}

.section7__black_background__item {
    font-size: 13.5px;
    white-space: nowrap;
    background-color: black;
    margin-bottom: 2px;
    display: inline-block;
    padding: 0 2px;
}
/*p*/
.section7__bold_font{
    font-family: 'Acrom Bold';
    font-size: 13.5px;
    width: 370px;
    margin-bottom: 16px;
}
/*p*/
.section7__content{
    font-family: 'Acrom Regular';
    font-size: 13.5px;
    color: #9e9ea0;
    width: 328px;
    margin:0;
    margin-bottom: 27px;
}