.section4{
    max-width: 480px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    &__image{
        margin-bottom: 34px;
     }
     &__subtitle{
        font-family: Acrom;
        width: 256px;
        background-color: #000;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
}

.section4__p{
    font-family: Acrom;
font-size: 14px;
font-weight: 700;
margin-bottom: 15px;
}

.section4__text{
    font-family: Acrom;
   font-size: 14px;
   font-weight: 400;
   line-height: 19.5px;
   margin-bottom: 52px;
}   

 .section4__text-span{
        background-color: #16ebfe;
}

.section4__title{
    font-family: Acrom;
    background-color: #000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    width: 292px;
    margin-bottom: 23px;
}

.section4__text-one{
    position: relative;
    width: 264px;
    font-family: Acrom;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.5px;
    margin-bottom: 50px;
}

.section4__text-one::before{
    content: "";
    width: 14px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: 20px;
    top: 6px;
    }
}

.section4__item{
    padding-left: 50px;
    padding-right: 30px;
    list-style: none;
    margin-bottom: 30px;
    position: relative;
}

.section4__item::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #000;
    position: absolute;
    left: 20px;
    top: 6px;
    }


.section4__item-title{
    font-family:Acrom;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.5px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.section4__item-text{
    color: #3f4144;
    font-family: Acrom;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;

}