.section2 {
  font-size: 16px;
  font-family: "Acrom", sans-serif;
  padding: 60px 15px;
}

.section2_p1 {
  font-size: 0.8438rem;
  line-height: 1.444;
  font-weight: 500;
  margin-bottom: 25px;
}

.section2_img {
  display: block;
  margin: 0 auto 25px;
  max-width: 100%;
  height: auto;
  position: relative;
}

.section2-img__wrapper {
  position: relative;
}

.section2-img__wrapper::after {
  content: "YOU";
  position: absolute;
  font-size: 6.1037rem;
  font-weight: 900;
  transform: rotate(90deg);
  left: -72px;
  bottom: -163px;
  z-index: -1;
  opacity: 0.05;
  font-style: normal;
}

.section2-tittle-wrapper {
  text-transform: uppercase;
  margin: 0 auto 48px;
  max-width: 300px;
  font-weight: 900;
}

.section2__p2 {
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.096;
  position: relative;
  padding-left: 40px;
}

.section2__p2::before {
  content: "";
  display: block;
  width: 25px;
  height: 4px;
  background-color: #000;
  position: absolute;
  top: 6px;
  left: 0px;
}

.section2-title {
  line-height: 1.252;
  font-size: 1.2813rem;
}

.section2-title__span {
  background-color: #000;
  color: #fff;
  line-height: 1.252;
  font-size: 1.2813rem;
}

.section2-second-question {
  font-size: 0.8438rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.444;
  margin-bottom: 22px;
}

.section2-questions {
  list-style: none;
  padding: 0 40px;
  line-height: 1.444;
  font-size: 0.8438rem;
}

.section2-questions__item {
  margin-bottom: 25px;
  position: relative;
}

.section2-questions__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000;
  position: absolute;
  left: -16px;
  top: 8px;
}

.section2-questions__item__text {
  font-size: 0.8438rem;
}

.section2-questions__item__text span {
  font-weight: bold;
  font-size: 0.8438rem;
}

.section2_p3 {
  color: $orange;
  font-weight: 500;
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
  line-height: 1.444;
}

@media screen and (min-width: 768px) {
  .section2 {
    padding: 60px 65px;
  }

  .section2-header__wrapper {
    display: flex;
    flex-flow: column wrap;
    max-width: 550px;
    max-height: 260px;
    margin-bottom: 68px;
  }

  .section2_p1 {
    max-width: 201px;
    font-size: 0.5625rem;
  }

  .section2-header__wrapper .section2-img__wrapper {
    order: -1;
    margin-right: 72px;
  }

  .section2-tittle-wrapper {
    margin: 0;
    max-width: 245px;
  }

  .section2__p2 {
    max-width: 160px;
    font-size: 0.625rem;
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.667;
  }

  .section2__p2::before {
    content: "";
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 7px;
    left: 0px;
  }

  .section2-title {
    line-height: 1.3;
    font-size: 1.6875rem;
  }

  .section2-title span {
    font-size: 1.6875rem;
    line-height: 1.3;
  }

  .section2_img {
    margin: 0;
  }

  .section2-second-question {
    font-size: 1.0625rem;
  }

  .section2-questions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }

  .section2-questions__item {
    max-width: 150px;
  }

  .section2-questions__item::before {
    display: none;
  }

  .section2-questions__item__text {
    font-size: 0.5625rem;
  }
  .section2-questions__item__text span {
    font-size: 0.5rem;
  }

  .section2_p3 {
    text-align: left;
    margin: 0;
    font-size: 0.625rem;
  }

  .p3-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .section2 {
    padding: 60px 245px;
  }

  .section2-img__wrapper::after {
    font-size: 9.75rem;
    left: -113px;
    bottom: -245px;
  }

  .questions-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 690px;
  }

  .section2-questions {
    flex-flow: column wrap;
    width: 550px;
    max-height: 245px;
    align-content: space-between;
  }

  .section2-second-question {
    min-width: 140px;
    margin: 0;
  }

  .section2-questions__item:nth-of-type(3n) {
    margin-bottom: 0;
  }
  .p3-wrapper {
    max-width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
