.section11 {
  padding: 37px 16px 0;
  font-size: 16px;
  font-family: "Acrom", sans-serif;
  transition: padding 0.3s linear;

}

img {
  width: 100%;
  height: auto;
  display: block;
}

.section11-first-wrapper {
  margin-bottom: 34px;
}

.section11-h3 {
  font-size: 1.125rem;
  font-weight: 900;
  padding-left: 39px;
  margin-bottom: 18px;
  text-transform: uppercase;
  line-height: 1.333;
  transition: font-size 0.3s linear;
}

.online-universe {
  width: 290px;
  margin: 0 auto 18px;
  font-size: 0.8438rem;
  line-height: 1.444;
}

.online-univrese__p1 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 8px;
}

.online-universe__p2 {
}

.section2-img__wrapper {
  display: block;
  margin-bottom: 59px;
}

.universe_with_tea {
  padding-left: 26px;
  font-size: 0.8438rem;
  line-height: 1.444;
  position: relative;
  width: 290px;
  margin: 0 auto;
  &:before {
    content: "";
    height: 3px;
    width: 20px;
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 9px;
  }
}

.section11-second-wrapper {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.second-wrapper_span,
.third-wrapper_span {
  background-color: #000;
  color: #fff;
  font-size: 0.7719rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 33px;
}

.second-wrapper_h4 {
  font-size: 0.8438rem;
  line-height: 1.444;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
  width: 200px;
  position: relative;
  &:after {
    content: "";
    width: 80px;
    height: 68px;
    position: absolute;
    background-image: url(../images/section11-map.png);
    top: -46px;
    right: -98px;
  }
}

.second-wrapper_p {
  font-size: 0.8438rem;
  line-height: 1.444;
}

.section11-third-wrapper {
  width: 293px;
  margin: 0 auto;
}

.third-wrapper_span {
  margin-bottom: 28px;
}

.third-wrapper_ul {
  list-style: none;
  line-height: 1.444;
  font-size: 0.8438rem;
}

.third-wrapper_li {
  display: flex;
}

.third-wrapper_li:nth-of-type(1) {
  margin-bottom: 22px;
}

.third-wrapper_li:nth-of-type(2) {
  margin-bottom: 39px;
}

.third-li_wrapper {
  width: 252px;
}

.third-wrapper_h4 {
  width: 170px;
  text-transform: uppercase;
  margin-bottom: 6px;
  position: relative;
  &::after {
    content: "01_";
    position: absolute;
    right: -52px;
    top: -4px;
    font-size: 2.4131rem;
    transform: rotate(-90deg);
    opacity: 0.05;
    font-weight: 900;
  }
}

.third-wrapper_li-span {
  display: block;
  font-weight: 700;
}

.third-wrapper_img {
  display: block;
  object-fit: cover;
}
.section11_item1 {
  width: 45px;
}
.section11_item2 {
  width: 75px;
  height: 114px;
}

@media screen and (min-width: 768px) {
  .section11 {
    padding: 49px 65px 0;
    transition: padding 0.3s linear;
    display: flex;
    flex-flow: row wrap;
  }

  .section11-first-wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 230px;
  }

  .section11-h3 {
    width: 238px;
    padding-left: 0;
    font-size: 1.6875rem;
    margin: 0 0 23px;
    line-height: 1.26;
    order: 1;
  }

  .online-universe {
    margin: 0;
    font-size: 0.5606rem;
    display: flex;
    order: 3;
    justify-content: space-around;
    margin: 6px auto 15px;
  }
  
  .online-univrese__p1 {
    font-size: 0.5606rem;
    margin: 0;
    width: 93px;
  }

  .online-universe__p2 {
    font-size: 0.4906rem;
    width: 118px;
  }

  .section2-img__wrapper {
    margin: 0;
    order: 4;
  }

  .universe_with_tea {
    font-size: 0.5606rem;
    margin: 0 0 0 46px;
    padding: 0;
    order: 2;
    width: 154px;
    &:before {
        width: 27px;
        left: -46px;
        top: 3px;
      }
  }

  .section11-second-wrapper {
      margin: 0;
  }
  .section11-third-wrapper {
      margin: 0;
  }
}
