
.section8 {
     display: flex;
     justify-content: space-between;
     margin-top: 40px;
     margin-bottom: 60px;
 }
 .text_developer {
     margin-top: 40px;
     margin-bottom: 20px;
     color: black;
     font-size: 10px;
 }
 .text_content {
     font-size: 9px;
     color: #3f4144;
 }
.headline {
    padding-bottom: 30px;
    font-size: 30px;
    color: black;
}
.content_right {
    padding-bottom: 50px;
}