.section17{
    width: 480px;
    padding: 40px 55px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__title{
        margin: 0 auto;
        text-align: center;
        font-family: Acrom;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        background-color: #000;
        color: #fff;
        width: 275px;
        margin-bottom: 25px;
    }
    &__text{
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        width: 205px;
        padding-left: 40px;
        font-family: Acrom;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.5px;
        position: relative;
        margin-bottom: 60px;
    }
}

.section17__text::before{
    content: '';
    display: block;
    width: 20px;
     height: 3px;
     background-color: #000;
     position: absolute;
     left: -10px;
     top: 8px;
}

.section17__item{
    list-style: none;
    margin-bottom: 40px;
}

.section17__item-name1,
.section17__item-name2{
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    font-family: Acrom;
    padding-left: 70px;
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 21.85px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.section17__item-name1::before{
    position: absolute;
    content: '01.';
    font-family: Acrom;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.25px;
    text-transform: uppercase;
    left: 10px;
    top: 0px;
}

.section17__item-name2{
    position: relative;
}

.section17__item-name2::before{
position: absolute;
content: '02.';
font-family: Acrom;
font-size: 25px;
font-weight: 700;
line-height: 30.25px;
text-transform: uppercase;
left: 10px;
top: -10px;
}

.section17__item-text1,
.section17__item-text2{
    padding-left: 70px;
    position: relative;
    font-family: Acrom;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.65px;
    color: #3f4144;
    display: flex;
    align-items: flex-end;
}

.section17__item-text1::before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #16ebfe;
    left: 40px;
    top: 0;
}

.section17__item-text2{
    position: relative;
}
.section17__item-text2::before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #16ebfe;
    left: 40px;
    top: -30px;
}

  .section17__span-item{
    background-color: #000;
    color: #fff;
}

.form__style{
padding: 70px 55px;
margin: 0 auto;
width: 371px;
height: 348px;
box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
background-color: #ffffff;
}

.form__item{
    list-style: none;
}

.form__name,
.form__phone,
.form__email{
width: 246px;
height: 30px;
padding-left: 20px;
outline: 0;
border-width: 0 0 2px;
border-color: #bfbfbf;
color: #000;
font-family: Acrom;
font-size: 9px;
font-weight: 400;
line-height: 0.9;
padding: 0;
}

.form__email{
    margin-bottom: 20px;
}

.form__span{
    color: #bfbfbf;
    font-family: Acrom;
    font-size: 8px;
    font-weight: 700;
    line-height: 11.95px;
    padding-left: 2px
}
.form__button{
    display: block;
    text-align: center;
    width: 174px;
    height: 34px;
    box-shadow: 0 5px 6px rgba(196, 87, 15, 0.26);
    border: none;
    background-color: #ff6b08;
    color: #fff;
    font-family: Acrom;
    font-size: 8px;
    font-weight: 700;
    line-height: 11.95px;
   text-transform: uppercase;
}